  <head>
    <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="161396444682-7u5aos57ttth10n7p97kdjcjf4canpoh.apps.googleusercontent.com">

    </head>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="user-box">

  <h4>Sign Up Now!!!</h4>

 <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<div id="gSignInWrapper">
  <div id="myButton" class="classesToStyleWith">
    Sign in with Google
  </div>

    <script>
      function render() {

    // Additional params
    var additionalParams = {
      'theme' : 'dark'
    };

    gapi.signin.render('myButton', additionalParams);
  }
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

        document.getElementById('user_name').value = profile.getName();
        document.getElementById('user_email').value = profile.getEmail();

        document.getElementById('new_user').submit();

        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log("Name: " + profile.getName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>

  <%= form_for(@user, html: {class: 'pure-form pure-form-aligned user_form'}) do |f| %>

  <% if @user.errors.any? %>
    <div id="error-explanation">
      <p><%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li style="color: red"><%= message %></li>
      <% end %>
    </ul>
    </div>
    <% end %>


<div style="display: none;">

  <div class="pure-control-group">
    <label>Name</label>
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>

  <div class="pure-control-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'Email' %>
  </div>
</div>

</div>



  <% end %>