<% if @party.errors.any? %>
	<div id="pure-form pure-form-aligned user_form">
		<p><%= pluralize(@party.errors.count, "error") %> prohibited this user from being saved: </p>
		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li style="color: red"><%= message %></li>
			<% end %>
		</ul>

	</div>
<% end %>



<%= form_for(@party, :url => attend_parties_path( @party ), :html => { :method => :post}) do |f| %>

<%= hidden_field_tag(:id, @party.id) %>

	<%= f.submit id="goToParty" "I Vow to party hard at this event" %>

<script>
function AddToMyGoogleCalendar() {
	var event = {
	  'summary': 'Google I/O 2015',
	  'location': '800 Howard St., San Francisco, CA 94103',
	  'description': 'A chance to hear more about Google\'s developer products.',
	  'start': {
	    'dateTime': '2015-05-28T09:00:00-07:00',
	    'timeZone': 'America/Los_Angeles'
	  },
	  'end': {
	    'dateTime': '2015-05-28T17:00:00-07:00',
	    'timeZone': 'America/Los_Angeles'
	  },
	  'recurrence': [
	    'RRULE:FREQ=DAILY;COUNT=2'
	  ],
	  'attendees': [
	    {'email': 'lpage@example.com'},
	    {'email': 'sbrin@example.com'}
	  ],
	  'reminders': {
	    'useDefault': false,
	    'overrides': [
	      {'method': 'email', 'minutes': 24 * 60},
	      {'method': 'sms', 'minutes': 10}
	    ]
	  }
	};

	var request = gapi.client.calendar.events.insert({
	  'calendarId': 'primary',
	  'resource': event
	});

	request.execute(function(event) {
	  appendPre('Event created: ' + event.htmlLink);
	});
}


document.getElementById('goToParty').onclick=AddToMyGoogleCalendar;


</script>
<% end %>
























