<% if @party.errors.any? %>
	<div id="pure-form pure-form-aligned user_form">
		<p><%= pluralize(@party.errors.count, "error") %> prohibited this user from being saved: </p>
		<ul>
			<% @party.errors.full_messages.each do |message| %>
			<li style="color: red"><%= message %></li>
			<% end %>
		</ul>

	</div>
<% end %>

<%= form_for(@party, html: {class: 'pure-form'}) do |f| %>

	<%= f.text_field :image_url, placeholder: "Picture of your party theme or location" %>
	
	<%= f.text_field :location, placeholder: "Location of the Party" %>
	<%= f.text_field :description, placeholder: "Description" %>

	<%= f.submit %>
<% end %>
