<% @parties.each do |party| %>
	<span class="parties-list">
		<div class="container-fluid" "image">
		<a href="parties/<%= party.id %>">
			<img src="<%= party.image_url %>">
		</a>
		
		</div>
		<div class="type_of_party"><%= party.type_of_activity %>
			<br/>
			<%= party.description %>
			<br/>
			<%= party.location %>
			<br/>
			<br/>

		</div>

	</span>

<% end %>