
<div class="pure-g">
<div class="pure-u-1-2" id="im">
<img src="<%= @party.image_url %>">
</div>

<!-- <li><%= @party.type_of_activity %></li> -->
<div class="pure-u-1-2">
<h2>Location of the Party:</h2>
<h4><%= @party.location %></h4>
<br/>
<h2>Party Vibe:</h2>
<h4><%= @party.description %></h4>
<br/>
<h2>Organizer:</h2>
<h4><%= @party.organizer.name %></h4>
<br/>
<h2>Attendees:</h2>
<h4><% @party.attendees.each do |attendee| %>
  <%= attendee.name %>, 
 <% end %>
  etc...
 </h4>
  <br/>
  </div>
</div>



<h3>Join the crowd:</h3>
<%= render 'attendee_form' %>



