
<li><img src="<%= @party.image_url %>"></li>
<li><%= @party.type_of_activity %></li>
<li><%= @party.location %></li>
<li><%= @party.description %></li>
<li><%= @party.organizer.name %></li>
<h3>Attendees:</h3>
<p><% @party.attendees.each do |attendee| %>
  <%= attendee.name %>, 
 <% end %>
  etc...
 </p>



<h3>Join the crowd</h3>
<%= render 'attendee_form' %>


